@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600&family=Palette+Mosaic&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fredoka";
}

body {
  /* width: auto; */
}

.nav-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid;
  background-color: #275d2b;
  padding: 15px 5px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 45px;
  font-weight: 600;
}
h1 {
  letter-spacing: 7px;
  font-size: 30px;
}
h1::first-letter {
}

h1:hover {
}

.nav-links {
  text-decoration: none;
  padding: 10px;
  border-radius: 25px;
  color: #ffffff;
  /* color: black; */
}
.nav-links:hover {
  background-color: #3e6e41;
}

.page-container {
  width: 98%;
  margin: 0 auto;
}
.about-container,
.projects-container {
  width: 95%;
  margin: 0 auto;
  display: flex;
  /* background-color: #ebfbee; */
  margin-bottom: 35px;
  justify-content: space-between;
  gap: 10px;
  padding: 25px;
  box-shadow: 0px 0px 15px -13px;
}
.about-container:hover {
}
.img {
  width: 40%;
  height: auto;
  border-radius: 5px;
}
.about-me {
}
.projects-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.guessmynumber-img {
  width: 50%;
}
h2 {
  display: inline-block;
  text-transform: uppercase;
  margin-bottom: 15px;
  border-bottom: solid 3px;
  border-right: solid 0.5px;
  padding: 8px;
  border-radius: 15px;
  letter-spacing: 5px;
}
h2::first-letter {
  background-color: #275d2b;
  color: white;
  border-radius: 50%;
  font-weight: 600;
}
p {
  font-weight: 600;
  font-size: 20px;
}
strong {
  font-size: 30px;
  color: #275d2b;
}

footer {
  text-align: center;
  background-color: #275d2b;
  color: white;
  padding: 6px;
}
