@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600&family=Palette+Mosaic&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fredoka";
}
/* body{
  
} */

/*! CONTAINERS - CSS !*/

.page-container {
  width: 98%;
  margin: 0 auto;
  overflow: auto;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.1rem solid;
  background-color: #275d2b;
  /* background-color: #004225; */
  padding: 1rem 0.45rem;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 3rem;
  font-weight: 600;
}

.about-container,
.projects-container {
  width: 95%;
  margin: 0 auto;
  display: flex;
  margin-bottom: 2rem;
  justify-content: space-between;
  gap: 0.8rem;
  padding: 1.5rem;
  box-shadow: 0 0 0.1rem rgba(33, 33, 33, 0.2);
  border-radius: 0.5rem;
}

.projects-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.projects-container-small {

  display: grid;
  grid-template-columns: 1fr;
  padding: 0.5rem;
  text-align: center;
  border-radius: 0.5rem;
}
.projects-container-small:hover {
  box-shadow: 0 0 1rem 0.5rem rgba(33, 33, 33, 0.2);
  /* transform: scale(1.1); */
}

footer {
  text-align: center;
  /* background-color: #275d2b; */
  color: #275d2b;
  padding:0.5rem ;
  font-weight: 700;
}

/*! ELEMENTS - CSS (INSIDE CONTAINERS)  !*/

/* NAV BAR - CSS */

.nav-links {
  text-decoration: none;
  padding: 0.6rem;
  border-radius: 1rem;
  color: #ffffff;
}
.nav-blog-link:hover {
  background-color: #3e6e41;
}

/* ABOUT ME - CSS */

.aboutme-img {
  width: 40%;
  height: auto;
  border-radius: 0.5rem;
}

/* PROJECTS CONTAINER SMALL - CSS */

.project-img {
  width: 70%;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  border-radius: 0.5rem;
}

/* ELEMENTS - CSS */

h1 {
  letter-spacing: 0.6rem;
  font-size: 2rem;
}

h2 {
  display: inline-block;
  text-transform: uppercase;
  margin-bottom: 1rem;
  border-bottom: solid 0.1rem;
  border-right: solid 0.07rem;
  padding: 0.5rem;
  border-radius: 0.7rem;
  letter-spacing: 0.3rem;
}
h2::first-letter {
  background-color: #275d2b;
  color: white;
  border-radius: 50%;
  font-weight: 600;
}

p {
  font-weight: 600;
  font-size: 1rem;
}
strong {
  font-size: 2rem;
  color: #275d2b;
}

@media(max-width : 500px ){
  .projects-container {
    grid-template-columns: 1fr 1fr;
  } 
}

/* Dark Mode Button - CSS */


.darkmode-button{
  color: #ffffff;
  background-color:#275d2b;
  border: 0;
  padding: 0.6rem;
  border-radius: 25px;
  
}
.darkmode-button:hover{
  background-color: #3e6e41;
  border-radius: 1rem;
}

.darkmode{
  background-color: #212529;
  color: #ffffff;
  
}
.darkmode-body{
  background-color: #343a40;
  color: #fff;
}
.darkmode-body:hover{
  box-shadow: 0 0 1rem -0.5rem #fff;
}

/* TEMPORARY CSS */

.inprogress {
  align-self: center;
  color: #275d2b;
}

