@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600&family=Palette+Mosaic&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fredoka";
}

body {
}

/*! CONTAINERS - CSS !*/

.page-container {
  width: 98%;
  margin: 0 auto;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid;
  background-color: #275d2b;
  padding: 15px 5px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 45px;
  font-weight: 600;
}

.about-container,
.projects-container {
  width: 95%;
  margin: 0 auto;
  display: flex;
  margin-bottom: 35px;
  justify-content: space-between;
  gap: 10px;
  padding: 25px;
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  border-radius: 5px;
}

.projects-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.projects-container-small {
  /* background-color: #275d2b; */
  /* color: #ffffff; */
  display: grid;
  grid-template-columns: 1fr;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
}
.projects-container-small:hover {
  box-shadow: 0 0 12px rgba(33, 33, 33, 0.2);
  /* background-color: #d3f9d8; */
}

footer {
  text-align: center;
  background-color: #275d2b;
  color: #ffffff;
  padding: 6px;
}

/*! ELEMENTS - CSS (INSIDE CONTAINERS)  !*/

/* NAV BAR - CSS */

.nav-links {
  text-decoration: none;
  padding: 10px;
  border-radius: 25px;
  color: #ffffff;
}
.nav-links:hover {
  background-color: #3e6e41;
}

/* ABOUT ME - CSS */

.aboutme-img {
  width: 40%;
  height: auto;
  border-radius: 5px;
}

/* PROJECTS CONTAINER SMALL - CSS */

.guessmynum-img {
  width: 70%;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.guessmynum-para {
  text-decoration: none;
  color: black;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 12px;
}

/* ELEMENTS - CSS */

h1 {
  letter-spacing: 7px;
  font-size: 35px;
}

h2 {
  display: inline-block;
  text-transform: uppercase;
  margin-bottom: 15px;
  border-bottom: solid 3px;
  border-right: solid 1px;
  padding: 8px;
  border-radius: 15px;
  letter-spacing: 5px;
}
h2::first-letter {
  background-color: #275d2b;
  color: white;
  border-radius: 50%;
  font-weight: 600;
}

h3 {
  display: inline-block;
  font-size: 20px;
  border-bottom: solid 3px;
  border-top: solid 1px;
  border-radius: 15px;
  padding: 8px;
  margin-bottom: 15px;
  font-weight: 600;
}
p {
  font-weight: 600;
  font-size: 16px;
}
strong {
  font-size: 30px;
  color: #275d2b;
}

/* TEMPORARY CSS */

.inprogress {
  align-self: center;
}
